# Environment Local Variables Example
# Replace the placeholder values (e.g., "app-aws-region") with the actual configuration data.

# AWS Region for the application
REACT_APP_REGION=app-aws-region

# AWS Cognito User Pool ID for authentication
REACT_APP_USERPOOLID=app-user-pool-id

# AWS Cognito Web Client ID for your User Pool
REACT_APP_USERPOOLWEBCLIENTID=app-user-pool-web-client-id

# Firebase configuration keys
REACT_APP_FIREBASE_API_KEY=app-firebase-api-key
REACT_APP_FIREBASE_AUTH_DOMAIN=app-firebase-auth-domain
REACT_APP_FIREBASE_PROJECT_ID=app-firebase-project-id
REACT_APP_FIREBASE_STORAGE_BUCKET=app-firebase-storage-bucket
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=app-firebase-messaging-sender-id
REACT_APP_FIREBASE_APP_ID=app-firebase-app-id
REACT_APP_FIREBASE_MEASUREMENT_ID=app-firebase-measurement-id
